In [5]:
import pandas as pd

# import altair as alt

In [6]:
df = pd.read_csv("source/1850-2024.csv")
df.head()

     Date  Anomaly
0  185001    -0.46
1  185002    -0.21
2  185003    -0.22
3  185004    -0.35
4  185005    -0.29

In [7]:
def convert_to_date(yyyymm):
    year = int(str(yyyymm)[:4])
    month = int(str(yyyymm)[4:6])
    return pd.Timestamp(year=year, month=month, day=1)


df["Date"] = df["Date"].apply(convert_to_date)

In [9]:
df.head()

        Date  Anomaly
0 1850-01-01    -0.46
1 1850-02-01    -0.21
2 1850-03-01    -0.22
3 1850-04-01    -0.35
4 1850-05-01    -0.29

In [1]:
chart = alt.Chart(df).mark_line().encode(x="Date", y="Anomaly").properties(width=800)

chart

NameError: name 'df' is not defined